body {
    font-family: 'Changa', sans-serif;
    background: linear-gradient(to top, #538f49, #8ef57d);
    background-size: cover;
    background-position: center;
    height: 650px;
    margin: 0%;
}


/*----------logo_page------------*/

.Logo-page {
    background: #0000007c;
}

.Logo-page img {
    height: 25%;
    width: 25%;
    margin-top: 10%;
    margin-left: 38%;
    animation: fadeIn 5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*----------loginform------------*/

#login {
    border-radius: 30px;
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 3% auto;
    text-align: center;
    height: 400px;
}

#heading h1 {
    text-align: center;
    font-size: 40px;
    height: 80px;
    color: rgb(0, 0, 0);
}

label {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 22%;
    margin-top: 1%;
    position: absolute;
    opacity: 0.5;
}

i.fa-regular.fa-envelope {
    margin-right: 10px;
}

i.fa-solid.fa-lock {
    margin-right: 8px;
}

h2 .username {
    margin-top: 5%;
}

h2 .password {
    margin-top: 7%;
}

#login h3 {
    color: rgb(0, 0, 0);
    margin: 5%;
    padding: 10%;
    font-size: 42px;
    justify-content: center;
}

.my-button {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5%;
}

.my-button:hover {
    background-color: #00000079;
}

.link {
    margin: 2%;
}

.link p {
    text-align: center;
    margin: 2%;
}


/*-----------------create a new account------------------*/

#userData {
    height: 440px;
    width: 400px;
    margin-left: 35%;
    border-radius: 2%;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    margin-top: 0%;
}

#userData h1 {
    text-align: center;
    padding-top: 5%;
}

#userData h2 {
    margin-left: 10%;
    margin-top: 0%;
    height: 0%;
}

#userData h4 {
    margin-left: 10%;
    margin-top: 10%;
    height: 0%;
}

a.button {
    margin-top: 10%;
    margin-left: 35%;
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}


/*--------------------------------homepage------------------*/

.home_page {
    background: linear-gradient(to top, #8ef57d, #538f49);
}

.back {
    display: inline-flex;
    width: 100%;
}

a.fa-solid.fa-chevron-left {
    font-size: 42px;
    margin-left: 2%;
    margin-top: 2%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    width: 2%;
    display: inline-block;
    position: absolute;
}

.back .fa-regular {
    font-size: 42px;
    display: inline-flex;
    margin-left: 95%;
    margin-top: 2%;
}

.back h1 {
    margin-top: 2%;
    text-align: center;
    width: 100%;
    position: absolute;
}

.enlarged-input {
    width: 500px;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    margin-left: 31%;
    border-radius: 10px;
}

.grid-item {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.233);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    border-radius: 20px;
    overflow: visible;
    position: relative;
    padding: 20px;
}

.food-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    margin-top: 130px;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row-reverse;
}

.grid-item img {
    height: 70%;
    width: 100%;
    bottom: 70%;
    right: 0%;
    object-fit: cover;
    border-radius: 10%;
    position: absolute;
    margin-right: 0%;
}

.grid-item #food_name {
    font-size: 24px;
    position: absolute;
    margin: 10px;
    color: rgb(0, 0, 0);
    height: auto;
    width: 85%;
    top: 30%;
    justify-content: center;
    align-items: center;
}

.grid-item #price {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.icon {
    color: #000000;
    position: absolute;
    top: 82%;
    right: 5%;
    font-size: larger;
    cursor: pointer;
}


/*--------------------forgot_password-----------------*/

.Forgot {
    border-radius: 30px;
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 10% auto;
    height: 350px;
}

.Forgot h1 {
    font-size: x-large;
    padding: 20px;
    text-align: center;
}

.btn {
    text-align: center;
}

.Forgot p {
    text-align: center;
}

.overlay {
    display: none;
}

.overlay-message {
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.644);
    backdrop-filter: blur(5px);
}